<h1>Pierre's Sweet and Savory Treats</h1>

<p>@Html.ActionLink("Log In", "Index", "Account")
<p>@Html.ActionLink("See Treats", "Index", "Treats")</p>
<p>@Html.ActionLink("See list of Flavors", "Index", "Flavors")</p>