@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  background-color: white;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: rgb(77, 92, 69);
  text-decoration: none;
  font-size: 1.2rem;
}

a:hover {
  color: rgb(77, 92, 69);
  font-weight: bold;
}

label {
  padding-right: .5em;
  margin-top: .5em;
}

input {
  display: block;
}

.btn {
  display: block;
  margin: 1em 0;
  padding: .5em 1em;
  border: none;
  border-radius: .5em;
  background-color: rgb(77, 92, 69);
  color: white;
}

.btn:hover {
  color: white;
  font-weight: bold;
}

h1 {
  text-align: center;
  color:rgb(77, 92, 69);
}

h2 {
  font-weight: bold;
}

h4, h3 {
  color: rgb(77, 92, 69);
}

/* .bottom-link {
  display: inline;
  margin-right: .75em;
}

.bottom-link a {
  background-color: white;
  color: rgb(77, 92, 69);
  border: .2em solid rgb(77, 92, 69);
  padding: .5em 1em;
  border-radius: .5em;
} */

.bottom-link a:hover {
  background-color: rgb(77, 92, 69);
  color: white;
  font-weight: normal;
}

nav {
  background-color:rgb(203, 223, 192);
  padding-bottom: .25em;
}

#nav-ul {
  display: flex;
  margin: 0;
}

#nav-logo {
  color:rgb(77, 92, 69);
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: .5em;
  padding-left: 1em;
}

#nav-li-2 {
  margin-left:auto;
}

nav li p{
  padding-right: 1em;
  margin-bottom: 0;
}

nav li a {
  color: rgb(77, 92, 69);
  text-decoration: none;
  font-size: 1.2rem;
}

nav li a:hover {
  border-top: .5em solid rgb(77, 92, 69);
  color: rgb(77, 92, 69);
  font-weight: bold;
}

#Home-img {
  max-width: 40em;
  display: block;
  margin: 0 auto;
}

#Home-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.home-list {
  width: 45%;
  padding-left: 1em;
}

#Home-treats {
  background-color:rgb(203, 223, 192);
}

#Home-flavors {
  background-color: rgb(77, 92, 69);
}

#Home-flavors * {
  color: white;
}

#Home-flavors-ul {
  display: flex;
  flex-wrap: wrap;
}

#Home-flavors-ul li{
  min-width: 45%;
}